h1 {
    color: rgba(61, 243, 47, .5);
    border-style: dotted; 
    border-width: 3px;
    border-color: #8FBC8F;
    text-align: center;
}
body {
    background-color: #FFF8DC; 
}
p {
    color: #FF6347;
}
.gray-text {
    font-weight: bold;
    color: black;
    border-style: groove;
    border-width: medium;
    border-color: rgb(127, 128, 188) 
}
.gray-text:hover {
    background-color: #2F4F4F;
}
.gray-text {
    width: 80%;
}
img {
    border-style: dashed;
    border-color: #E6E6FA;
    border-width: 4px;
}
.italic-text {
    font-style: italic;
}
.important {
    color: #87CEEB;
    text-decoration: underline; 
    text-decoration-style: wavy;
}
article {
    color: #B8860B;
    border-style: double;
    border-color: #A9A9A9;
    border-width: 4px;
}
.box{
    box-sizing: border-box;
    width: 30%;
    padding: 1rem;
    margin: 1rem 2rem 1rem;
}
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
p.fancy {
    color: #00008B;
    font-style: italic;
}
h1 {
    width: 100%;
}
a {
    text-decoration: none;
}
h1,h2,h3,h4 {
    font-family: "Old Standard TT", serif;
}
p {
    font-family: "Fira Sans", sans-serif;
}